<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shopping Cart</title>
</head>

<body>
  <%- include('partials/nav') %>

    <main class='cart-main'>
      <h3 class="title">Pizza Oven</h3>
      <table class="table">
        <thead class="table-headers">
          <tr>
            <th col="1">Pizza</th>
            <th col="1">Toppings</th>
            <th col="1">Price</th>
          </tr>

          <% for (const pizza of pizzaArr) { %>

            <tr class="table-rows">
              <td class="table-data">
                <div class="item-container">
                  <p>
                    <%= pizza.name %>
                  </p>
                  <img src="<%= pizza.url %> " alt="">
                </div>
              </td>

              <td class="table-data" id="cart-toppings">
                <div class="item-container-toppings">
                  <p>
                    <% console.log(pizza.toppings)%>


                    <% if (pizza.toppings.length < 1) { %>
                      No toppings selected

                      <% } else { %>
                        <%= pizza.toppings %> 
                      <% } %> 

                  </p>
                </div>
              </td>

              <td class="table-data">
                <div class="item-container">
                  <p>$<%= (pizza.price / 100).toFixed(2) %>
                  </p>
                </div>
              </td>

            </tr>

            <% } %>



        </thead>
        <tbody>

        </tbody>


        <% let total = 0 %>
        <% for (const pizza of pizzaArr) { %>
            <% total += pizza.price %> 
        <% } %> 

          <tfoot class="table-footer">
            <thead>
              <tr>
                <div class="total-container">
                  <th class="total-header">Total</th>
                  <th class="total-header"></th>
                  <th class="total-header">$<%= (total / 100).toFixed(2) %>
                  </th>
                </div>
              </tr>
            </thead>
          </tfoot>
      </table>
      <form method='post' action='/api/menu/checkout' class='btn-container'>
        <button class="checkout-btn">Checkout</button>
      </form>

</html>