<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/nav') %>

    <main>
      <h3 class="title">Customize Pizza</h3>
      <table class="edit-table">
        <thead>
          <tr>
            <th scope="col">Pizza</th>
            <th scope="col">Cheeses</th>
            <th scope="col">Meats</th>
            <th scope="col">Veggies</th>
            <th scope="col">Stomach Storage</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pizza">
            <td>
              <div class="item-container">
                <p>pizzaNameFromCookie</p>
                <img src="https://freepngimg.com/thumb/pizza/35510-7-pepperoni-pizza.png">
              </div>
            </td>

            <% for (category in result) { %>
              <% if(category !=='Size' ){%>

                <td>
                  <% for (topping in result[category]) { %>
                    <div class="check-group">
                      <input class="check" type="checkbox">

                      <label>
                        <%= result[category][topping] %>
                      </label>

                    </div>
                    <% } %>
                </td>
                <% } }%>
                  <td>
                    <div>
                      <form>
                        <select name="size" id="size">
                          <% for (const option of result.Size) { %>
                            <option value="<%=option%>">
                              <%= option %> </option>
                            <% }%>
                        </select>
                      </form>
                    </div>
                  </td>

                  <div>
                    <td class="last">
                      <%='priceFromCookie' %> BTC
                    </td>
                  </div>

          </tr>

        </tbody>
        <tfoot class="table-footer">
            </th>
          </tr>
        </tfoot>
      </table>
    </main>
</body>

</html>
