<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/nav') %>

    <main>
      <h3 class="title">Customize Pizza</h3>
      <form action="/api/menu/cart" method="POST">
      <table class="edit-table">
        <thead>
          <tr>
            <th scope="col">Pizza</th>
            <th scope="col">Cheeses</th>
            <th scope="col">Meats</th>
            <th scope="col">Veggies</th>
            <th scope="col">Stomach Storage</th>
          </tr>
        </thead>

        <% const getToppings = function(pizzaName) { %>

          <% for(const id in cart) { %>
            <% const pizzaArr = cart[id].pizzas %>
            <% for(const pizza of pizzaArr) { %>
              <% if(pizza.name === pizzaName) { %>
                <% return pizza.toppings %>

          <% }}}} %>

        <% const toppings = getToppings(selectedPizza) %>

        <tbody>
          <tr class="pizza">
            <td>
              <div class="item-container">
                <p><%=selectedPizza%></p>
                <img src="<%=pizzaArr[pizzaArr.length - 1].url %> ">
              </div>
            </td>

            

            <% for (category in result) { %>
              <% if(category !=='Size'){%>
              <td>
                <% for (topping in result[category]) { %>

                    <% if (toppings.includes(result[category][topping])) { %>

                      <div class="check-group">
                        <input class="check" type="checkbox" name="topping" value="<%=result[category][topping] %> " checked>
                        <label>
                          <%=result[category][topping] %>
                        </label>
                      </div>

                    <% } else { %>

                      <div class="check-group">
                        <input class="check" type="checkbox" value="<%=result[category][topping] %>" name="topping" >
                        <label>
                          <%=result[category][topping] %>
                        </label>
                      </div>

                    <% } %>

                    <% } %>
              </td>
                <% } }%>

                  <td>
                    <div>
                   
                        <select name="size" id="size">
                          <% for (const option of result.Size) { %>
                            <option value="<%=option%>">
                              <%= option %>
                            </option>
                            <% }%>
                        </select>
                   
                    </div>
                  </td>
          </tr>

        </tbody>
        <tfoot class="table-footer">
          <tr>
            <th colspan="4"></th>
            <th>
            <button type="submit" class="upload" >upload</button>
            </th>
          </tr>
        </tfoot>
      </table>
    </form>
    </main>
</body>

</html>
