<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/menu.js"></script> -->
</head>

<body>
  <%- include('partials/nav') %>
    <main id="menu-main">
      <h3 class="title">Menu</h3>
      <table class="table" id="menu-table">
        <thead class="table-headers">
          <tr>
            <th col="1">Photo</th>
            <th col="1">Pizza</th>
            <th col="2">Description</th>
            <th col="1">Starting at</th>
<<<<<<< HEAD
            <th></th>
          </tr>
        </thead>
        <% for (let pizza in result) { %>
          <tbody>
            <tr class="table-rows">
              <td>
                <div class="item-container">
                  <p>
                    <img class="menu-photo" src="<%=result[pizza].url %>" alt="<%=pizza.name %>" />
                  </p>
                </div>
              </td>
              <td>
                <div class="item-container">
                  <p>
                    <%=result[pizza].name %>
                  </p>
                </div>
              </td>
              <td>
                <div class="item-container">
                  <% for (let topping of result[pizza].toppings) { %>
                    <p><%=topping %></p>
                    <% } %>
                </div>
              </td>
              <td>
                <div class="item-container">
                  <p>
                    <%= (result[pizza].price/100).toFixed(2) %>
                  </p>
                </div>
              </td>
              <td>
                <form class="btn-container" action="/api/menu/cart" method="GET">
                  <a href="/api/menu/edit" class="edit-btn" id="order-btn">Edit</a>
                  <button class="btn" value="<%=pizza.name%>">Order</button>
                </form>
              </td>
              <% } %>
            </tr>
          </tbody>
=======
          </tr>
        </thead>
        <% for (let item of result) { let dollarPrice = item.price/100 %>
        <tbody>
          <tr class="table-rows">
            <td>
              <div class="item-container">
                <p>
                  <img
                    class="menu-photo"
                    src="<%=item.photo_url %>"
                    alt="<%=item.name %>"
                  />
                </p>
              </div>
            </td>
            <td>
              <div class="item-container">
                <p><%=item.name %></p>
              </div>
            </td>
            <td>
              <div class="item-container">
                <p>Description</p>
              </div>
            </td>
  
            <td>
              <div class="item-container">
                <p>$<%= dollarPrice.toFixed(2) %></p>
              </div>
            </td>
            <td>
              <form class="btn-container" action="/api/menu/cart/" method="POST">
                <!-- <a href="/api/menu/cart" class="edit-btn" id="order-btn">Order</a> -->
                <button name="pizza" class="btn" value="<%=item.name%>">Order</button>
              </form>
            </td>

            <% } %>
          </tr>
        </tbody>
>>>>>>> 963ac64f9a0bab69186b2176bac7a7bc9c08bdd3

          <tfoot>
            <thead>
            <tr>
              <div class="total-container">
                <th class="total-header"></th>
                <th class="total-header"></th>
                <th class="total-header"></th>
                <th class="total-header"></th>
              </div>
            </tr>
          </thead>
          </tfoot>
      </table>
    </main>
</body>

</html>
