<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orders</title>
  </head>

  <body>
    <%- include('partials/restNav') %>
    <main>
      <h1>Order <%=id%></h1>
      <table class="rest-tables">
        <thead class="table-headers">
          <tr class="table-rows">
          <th>Pizza</th>
          <th>Size</th>
          <th>Toppings</th>
          </tr>
        </thead>
        <tbody>
        </tr>
        <% for (let item in resultObj) { %>
        <tr class='table-rows'>
          <td class="orders-table"><%= resultObj[item].name %></td>
          <td class="orders-table"><%= resultObj[item].size %></td>
          <td class="orders-table"><%= resultObj[item].toppings %></td>
        </tr>
      </tbody>
        <% } %>
      </table>
    </main>
  </body>
</html>
