<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orders</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- <script type="text/javascript" src="/scripts/menu.js"></script> -->
  </head>

  <body>
    <%- include('partials/nav') %>
    <main>
      <h1>Order <%=id%></h1>
      <table>
        <tr>
          <th>Pizza</th>
          <th>Size</th>
          <th>Toppings</th>
        </tr>
        <% for (let item in resultObj) { %>
        <tr>
          <td><%= resultObj[item].name %></td>
          <td><%= resultObj[item].size %></td>
          <td><%= resultObj[item].toppings %></td>
        </tr>
        <% } %>
      </table>
    </main>
  </body>
</html>
